.Calculator-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 21.6px);
}

.Calculator {
  position: relative;
  width: 400px;
  height: 600px;
  background-color: #393939;
  color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.display-container {
  padding: 2rem;
  text-align: right;
  height: 35%;
  font-size: 4rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.formula {
  font-size: 1.25rem;
}

hr {
  width: 80%;
  height: 2px;
  color: #838383;
}

.buttons {
  height: 65%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  grid-template-areas:
    "controls controls controls operators"
    "numbers numbers numbers operators"
    "numbers numbers numbers operators"
    "numbers numbers numbers operators";
}

.controls {
  grid-area: controls;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.numbers {
  grid-area: numbers;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.operators {
  grid-area: operators;
  display: grid;
  grid-template-columns: 1fr;
}

.button {
  background-color: #393939;
  color: #838383;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  width: 100%;
}

.button:active {
  outline: 1px solid #838383;
}

.button.operator {
  color: red;
}

.button.equals {
  color: #fff;
  background-color: red;
  width: 62px;
  border-radius: 50%;
}
/* 
@media (max-width: 400px) {
  .Calculator {
    width: 90%;
  }
} */
